{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block scripts %}
  <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
home
{% endblock title %}

{% block content %}

<div class="modal fade" id="ReportModal" tabindex="-1" aria-labelledby="ReportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ReportModalLabel">Generate Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id='report-modal'>
        <div class='alert d-none' id='report-alert'></div>

        {% csrf_token %}
        {{ report_form | crispy }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

<h1>Search for reports</h1>

<hr />

<form action='' method='POST'>
  {% csrf_token %}
  {{ search_form | crispy }}
  <button class='btn btn-primary mt-3'>Search</button>
</form>

<hr />

{% if sales_dataframe %}
  <div class='card mb-5 mt-5'>
    <div class='card-body'>
      <h2 class='card-title'>Sales</h2>
      {{ sales_dataframe | safe }}
    </div>
  </div>
  

  <div class='card mb-5 mt-5'>
    <div class='card-body'>
      <h2 class='card-title'>Positions</h2>
      {{ positions_dataframe | safe }}
    </div>
  </div>


  <div class='card mb-5 mt-5'>
    <div class='card-body'>
      <h2 class='card-title'>Merged</h2>
      {{ salesdf_with_positionds | safe }}
    </div>
  </div>


  <div class='card mb-5 mt-5'>
    <div class='card-body'>
      <h2 class='card-title'>Grouped by dataframe</h2>
      {{ main_dataframe | safe }}
    </div>
  </div>


  <div class='card mb-5 mt-5'>
    <div class='card-body'>
      <h2 class='card-title'>Graph</h2>
      <img src="data:image/png;base64, {{ chart | safe }}" id='graph-img' class='card-img' />
    </div>
  </div>

  <button class='btn btn-success'>Generate report</button>
{% else %}
  <p>No data</p>
{% endif %}


<button 
  class='btn btn-primary d-none' 
  id='report-btn'
  data-bs-toggle="modal" 
  data-bs-target="#ReportModal"
>Add report</button>


{% endblock content %}
