{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block scripts %}
  <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
home
{% endblock title %}

{% block content %}

<h1>Search for reports</h1>

<hr />

<form action='' method='POST'>
  {% csrf_token %}
  {{form | crispy}}
  <button class='btn btn-primary mt-3'>Search</button>
</form>

<hr />

{% if sales_dataframe %}
  <h2>Sales</h2>
  {{ sales_dataframe | safe }}
  
  <hr />

  <h2>Positions</h2>
  {{ positions_dataframe | safe }}

  <hr />  

  <h2>Merged</h2>
  {{ salesdf_with_positionds | safe }}

  <h2>Grouped by dataframe</h2>
  {{ main_dataframe | safe }}

  <hr />

  <h2>Graph</h2>
  <img src="data:image/png;base64, {{ chart | safe }}" />
  
{% else %}
  <p>No data</p>
{% endif %}





{% endblock content %}
